body {
    font-size: 18px; /* Размер текста */
    color: #333; /* Цвет текста */
}

h1 {
    margin-top: 50px; /* Внешний отступ сверху */
    margin-bottom: 10px; /* Внешний отступ снизу */
    font-size: 60px; /* Размер текста */
    text-align: center; /* Выравнивание текста по центру */
}

h2 {
    margin-top: 0; /* Внешний отступ сверху */
    padding-bottom: 30px; /* Внутренний отступ снизу */
    font-size: 25px; /* Размер текста */
    text-align: center; /* Выравнивание текста по центру */
}
section {
    margin: 50px 0; /* Внешние отступы: 50px сверху и снизу, 0px слева и справа */
    padding: 0 50px; /* Внутренние отступы: 0px сверху и снизу, 50px слева и справа */
}

section h3 {
    padding: 0; /* Внутренние отступы */
    text-align: left; /* Выравнивание текста по левому краю */
    border: none; /* Граница отсутствует */
}

ul li {
    margin-bottom: 10px; /* Внешний отступ снизу */
}
